
<!-- <div id="latestContainer" *ngIf="postArray[postArray.length - 1] != null">
        <div id="titlesLatestNews">
           <a *ngIf="postArray[postArray.length - 1] != null" href="{{ postArray[postArray.length - 1].pdf }}">{{ postArray[postArray.length - 1].title }}</a>
           <a *ngIf="postArray[postArray.length - 2] != null" href="{{ postArray[postArray.length - 2].pdf }}">{{ postArray[postArray.length - 2].title }}</a>
           <a *ngIf="postArray[postArray.length - 3] != null" href="{{ postArray[postArray.length - 3].pdf }}">{{ postArray[postArray.length - 3].title }}</a>
       </div>
</div> -->

<div class="pageFill" id="blogTitles">
    <article *ngFor="let Article of articles">
        <img src="{{ Article.acf.img }}" alt="">
        <h1>{{Article.acf.title}}</h1>
        <h2>{{Article.acf.date}}</h2>
        <h3>{{Article.acf.summary}}</h3>
        <a href="{{ Article.acf.pdf}}" target="_blank">Lees meer</a>
    </article>
</div>

<div class="halfPageFill fourthTileAbout" >
    <div class="contactInfo" >
        <h1>Contacteer me</h1>
        <div>
            <a href="https://www.facebook.com/usewils/" class="contactDetail facebook" target="_blank"></a>
            <a href="https://twitter.com/usewils" class="contactDetail twitter" target="_blank"></a>
            <a href="https://www.linkedin.com/in/brent-usewils-a53440108/" class="contactDetail linkedIn" target="_blank"></a>
            <a href="mailto:brent.usewils@hotmail.com" class="contactDetail email" target="_blank"></a>
            <a href="https://www.facebook.com/jongvldheisthulshout/" class="contactDetail jongVldHulshout" target="_blank"></a>
            <a href="https://www.jongvld.be/" class="contactDetail jongVld" target="_blank"></a>
        </div>
        <div>
            <a href="http://www.vldhulshout.be/" class="openVld" target="_blank"></a>
        </div>
    </div>
</div>