<div class="pageFill" id="newsCover">
    <h1 id="newsTitle">News and opinions</h1>
    <div id="latestNews">
        <h1>Latest News</h1>
        <div>
            <h1>{{ postArray[postArray.length - 1].title }}</h1>
            <img src="{{ postArray[postArray.length - 1].url }}" alt="">
        </div>
    </div>
</div>
<div id="latestContainer">
        <div id="titlesLatestNews">
           <a href="">{{ postArray[postArray.length - 1].title }}</a>
           <a href="">{{ postArray[postArray.length - 2].title }}</a>
           <a href="">{{ postArray[postArray.length - 3].title }}</a>
       </div>
</div>
<div class="pageFill" id="blogTitles">
    <article *ngFor="let post of postArray">
        <img src="{{ post.url }}" alt="">
        <h1>{{post.title}}</h1>
        <h2>{{post.date}}</h2>
        <h3>{{post.intro}}</h3>
        <a href="{{post.pdf}}">Lees meer</a>
    </article>
</div>