<div class="pageFill" id="frontImageAbout">
    <h1>Over Brent</h1> <img src="./assets/Images/overmijBanner.jpg" alt="profile picture"> </div>
<div class="aboutPart" id="secondTileAbout">
    <article class="articleAbout">
        <div>
            <h1>De Denker</h1>
            <p>Luisteren naar mensen zet me aan het denken. Dat is altijd zo geweest: luisteren naar medestudenten, collega’s of vrienden, dat heeft sowieso invloed op hoe je denkt. Maar hij die mij leerde nadenken, dat was ongetwijfeld mijn papa. 
                Toen ik klein was, las hij iedere avond voor. En hij is dat héél lang blijven doen, al werden de boeken serieuzer en gingen ze over geschiedenis en wetenschap.</p>
            <p>Geschiedenis zorgde voor mijn afkeer van extremisme: door de conflicten van Galileo en Copernicus met de Kerk werd ik tegen geloof en tegen conservatieve houdingen en door het dagboek van Anna Frank en de roman ‘Oorlogswinter’ tegen autoritaire ideologieën. 
                Zelfbeschikking, vrijuit durven spreken en verantwoordelijkheid waren de essentie van mijn opvoeding. En dus is het niet vreemd dat ik me tegen m’n 18de verjaardag zou outen als liberaal.</p>
        </div> 
        <img src="./assets/Images/aboutMe1.jpg" alt=""> </article>
</div>
<div class="aboutPart" id="sixthTileAbout">
    <article class="articleAbout"> <img src="./assets/Images/brentCute.jpg" alt="">
        <div>
            <h1>De Roots</h1>
            <p>Politiek is niet iets waarmee ik geboren werd. Niemand in mijn naaste familie zat in de politiek. Maar het waren zelfstandigen, dus vroeg ik in 2007 eens op wie ze gingen stemmen. Het antwoord was op de VLD, want die komen op voor de zelfstandigen. Dus wat doe je als manneke van 11 jaar? 
                Discussiëren op de fiets op weg naar school wie de beste premier zou zijn natuurlijk: “Verhofstadt versus Leterme”. Die vriendschap is nooit meer goed gekomen ;)</p>
            <p>Maar de echte beslissing kwam pas op het einde van het middelbaar en ik moet daar mijn leraar Godsdienst voor bedanken: Tijdens de exploratiedagen ben ik gaan helpen bij de sociale kruidenier in Heist-op-den-Berg. 
                Daar heb ik heel veel mensen gezien en gesproken: zij die het echt nodig hadden en de profiteurs. Ik werd daar kwaad van. Terwijl sommigen in een kwetsbare positie zaten, waren er andere die alle regeltjes aan hun laars lapten (sociale fraude) en daar dan openlijk over spraken.</p>
            <p>Een week later belde er iemand aan de deur. Ik deed de deur open, want mijn ouders waren niet thuis. Het was het Hulshoutse gemeenteraadslid van Open Vld, Frank Ponsaert. Een maand later had ik een artikeltje in de burgerkrant geschreven. De rest is geschiedenis…</p>
            </div>
    </article>
</div>
<div class="aboutPart" id="fifthTileAbout">
    <article class="articleAbout">
        <div>
            <h1>De Politicus</h1>
            <p>Na een vliegende start bij Open Vld Hulshout kandideerde ik bij Open Vld om te mogen deelnemen aan de Liberale Academie, een masterclass over het Liberalisme, z’n denkers en de praktische toepassing. 
                Het is tot op vandaag mijn rugzakje in mijn politieke denken. </p>
            <p>Eind 2017 stelde ik me een eerste keer kandidaat voor de Raad van Bestuur van Jong VLD. Ik werd verkozen en werd aangesteld als Internationaal Secretaris. Ik hou me dus sindsdien bezig met de internationale actualiteit, Internationale congressen en de relaties met liberale jongerenbewegingen buiten Vlaanderen. 
                Tijdens deze eerste termijn sloot Jong VLD opnieuw aan bij IFLRY (International Federation of Liberal and Radical Youth), brachten we het LYMEC (European Liberal Youth) Congres naar Brussel en legde ik contacten om twinnings tussen lokale afdelingen uit verschillende landen mogelijk te maken.</p>
            <p>2018 was echter niet gemakkelijk voor Open Vld Hulshout. Een aantal mensen die de jaren ervoor mee aan de kar getrokken hadden, wilden liever niet meer kandideren voor de gemeenteraad. Het heeft dan ook tot in augustus geduurd voor we de beslissing namen om toch op te komen, met mij als lijsttrekker. We deden dat omdat er in Hulshout nood is aan een liberale partij. 
                Een die strijd voor goed bestuur, tegen geldverkwisting en voor burgerinspraak. We verloren nipt onze ene zetel, maar vandaag staat er opnieuw een team dat vastberaden is om Hulshout opnieuw wat blauwer te kleuren in 2024.</p>
        </div> <img src="./assets/Images/about_article3.jpg" alt=""> </article>
</div>
<div class="aboutPart" id="thirdTileAbout">
    <article class="articleAbout"> <img src="./assets/Images/aboutMe2.jpg" alt="">
        <div>
            <h1>De Dromer</h1>
            <p>Toen ik in 2014 het Guggenheim Bilbao bezocht, stond daar een wensboom van Yoko Ono. Iedereen mocht op een kaartje zijn of haar diepste wens opschrijven. De mijne was “Liberty for All!”. Dat was voor ik mezelf openlijk bestempelde als liberaal, maar het is nog altijd de essentie van mijn grootste droom: vrijheid moet universeel zijn. 
                Er zijn in de wereld nog te veel landen waar je niet vrijuit kunt spreken, waar je je leiders niet in vraag kan stellen en waar de bevolking moet vrezen voor haar leven. Als liberaal wil je dat veranderen. De uitdagingen blijven groot, maar het moet lukken.</p>
        </div>
    </article>
</div>
<div class="halfPageFill fourthTileAbout">
    <div class="contactInfo" >
        <h1>Contacteer me</h1>
        <div>
            <a href="https://www.facebook.com/usewils/" class="contactDetail facebook"></a>
            <a href="https://twitter.com/usewils" class="contactDetail twitter"></a>
            <a href="https://www.linkedin.com/in/brent-usewils-a53440108/" class="contactDetail linkedIn"></a>
            <a href="mailto:brent.usewils@hotmail.com" class="contactDetail email"></a>
            <a href="https://www.facebook.com/jongvldheisthulshout/" class="contactDetail jongVldHulshout" ></a>
            <a href="https://www.jongvld.com/" class="contactDetail jongVld" ></a>
        </div>
        <div>
            <a href="http://www.vldhulshout.be/" class="openVld"></a>
        </div>
    </div>
</div>