<div class="pageFill" id="frontImageAbout">
    <h1>Brent Usewils</h1> <img src="../../../assets/Images/about_v1.jpg" alt="profile picture"> </div>
<div class="pageFill" id="secondTileAbout">
    <article class="articleAbout">
        <div>
            <h1>Welkom!</h1>
            <p> Ik ben een dromer. Een denker. Ik hou van luisteren naar mensen. Maar ik ben wel degelijk iemand met een ongezouten mening. Deze website is mijn spreekbuis.</p>
            <p>Ik ben een jonge liberaal. Vrijheid en zelfstandigheid stonden centraal in mijn opvoeding. Dat staat ook centraal in mijn politiek denken. Ik sta open voor nieuwe ideeën, maar heb een afkeer van extremisme, conservatisme, populisme en betutteling.</p>
        </div> 
        <img src="../../../assets/Images/profile.jpg" alt=""> </article>
</div>
<div class="pageFill" id="sixthTileAbout">
    <article class="articleAbout"> <img src="../../../assets/Images/about_article1.jpg" alt="">
        <div>
            <h1>Afkomst</h1>
            <p>Ik ben opgegroeid in het Kempense Hulshout. Ik voel me Hulshoutenaar, Belg, Europeaan én wereldburger. Sinds April 2014, net voor "de moeder aller verkiezingen" van 25 mei, ben ik lid geworden van Jong VLD & Open Vld. Een half jaar later woonde ik al bestuursvergadering bij als "jongerenwaarnemer" van de lokale Open Vld.</p>
            <p>Sinds oktober 2016 ben ik bestuurslid en Politiek Secretaris. Ik maakte de oprichting van Willemsfonds Hulshout van dichtbij mee, verdiepte me verder in het liberalisme bij de Liberale Academie, waar ik nu bij de Alumni hoor, en sinds 2017 engageer ik mij bij Liberales. Sinds 2016 ben ik bestuurslid bij Jong VLD Geel.</p>
        </div>
    </article>
</div>
<div class="pageFill" id="fifthTileAbout">
    <article class="articleAbout">
        <div>
            <h1>Politiek en Studies</h1>
            <p> Eind 2017 werd ik voor de eerste keer verkozen als lid van de Raad van Bestuur (RvB) van Jong VLD Nationaal. Op de eerste RvB werd ik gekozen als Internationaal Secretaris (International Officer) in de kern, onder Jong VLD-voorzitter Hans Maes.</p>
            <p>Ik was student Architectuur aan de KU Leuven op Campus Sint-Lucas Brussel, voor de master koos ik voor Stedenbouw en Ruimtelijke Planning aan dezelfde faculteit, lessen worden voornamelijk gegeven op de Campus in Gent. Voor deze opleiding was ik 12 jaar student van de Heistse Tekenacademie, ging ik 6 jaar naar het Sint-Ursula-Instituut en daarvoor de Gemeentelijke Basisschool van Hulshout.</p>
        </div> <img src="../../../assets/Images/about_article2.jpg" alt=""> </article>
</div>
<div class="pageFill" id="thirdTileAbout">
    <article class="articleAbout"> <img src="../../../assets/Images/about_article3.jpg" alt="">
        <div>
            <h1>Vrije Tijd</h1>
            <p>In de vrije tijd kijk ik Netflix, luister ik naar Vintage Trouble of filmmuziek, speel ik nu en dan eens games, ontwerp ik logo's, ga ik op cultuurreis, amuseer ik me met vrienden bij het quizzen (ploeg Wikiweetgeda), verslind ik boeken op mijn e-reader tijdens de lange treinritten en vergader ik met de Bourgondische Hulshoutse liberalen. </p>
            <p>Bedankt voor het bezoeken van mijn website.</p>
            <p> Brent Usewils</p>
        </div>
    </article>
</div>
<div class="pageFill" id="fourthTileAbout">
    <div class="contactInfo" id="contactInfo">
        <h1>Contacteer me</h1>
        <div>
            <a href="https://www.facebook.com/usewils/" class="contactDetail" id="facebook"></a>
            <a href="https://twitter.com/usewils" class="contactDetail" id="twitter"></a>
            <a href="https://www.linkedin.com/in/brent-usewils-a53440108/" class="contactDetail" id="linkedIn"></a>
            <a href="" class="contactDetail" id="email"></a>
        </div>
    </div>
</div>