<div class="pageFill" id="formDiv">
                <div>
                   <h1>Add Post</h1>
                    <form id="testFrom" [formGroup]="this.newsService.form" (ngSubmit)="onSubmit()">
                    <input type="hidden" formControlName="$key">
                    
                    <label for="title">Title</label>
                    <input type="text" name="title" formControlName="title">
                    <p class="error" *ngIf="errorTitle">Title not filled in</p>
                    <label for="intro">Intro</label>
                    <input type="text" name="intro" formControlName="intro">
                    <p class="error" *ngIf="errorIntro">Intro not filled in</p>
                    <label for="date">Date</label>
                    <input type="date" name="date" formControlName="date">
                    <p class="error" *ngIf="errorDate">Date not filled in</p>
                    <label for="image">Image</label>
                    <input type="file" name="image" (change)="detectFiles($event)">
                    <input type="submit" value="Submit"> </form>
                    <h2 *ngIf="submittedSucces">Added Succesfully</h2>
                </div>
            </div>