<div class="pageFill" id="frontImage">
    <h1>Brent Usewils</h1>
     <img src="./assets/Images/homeBanner2.JPG" alt="profile picture">
 </div>
 <div class="pageFill" id="secondTile">
     <h1>Insert Title</h1>
     <article>
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium eveniet iusto earum impedit amet harum recusandae ut aperiam, voluptatibus ad ullam odio atque, tempore vero explicabo, eius possimus rem asperiores.
     </article>
 </div>
 <div class="halfPageFill fourthTileAbout" >
    <div class="contactInfo" >
        <h1>Contacteer me</h1>
        <div>
            <a href="https://www.facebook.com/usewils/" class="contactDetail facebook"></a>
            <a href="https://twitter.com/usewils" class="contactDetail twitter"></a>
            <a href="https://www.linkedin.com/in/brent-usewils-a53440108/" class="contactDetail linkedIn"></a>
            <a href="" class="contactDetail email"></a>
            <a href="" class="contactDetail jongVldHulshout" ></a>
            <a href="" class="contactDetail jongVld" ></a>
        </div>
        <div>
            <a href="" class="openVld"></a>
        </div>
    </div>
</div>