<div class="pageFill" id="frontImage">
    <h1>Brent Usewils</h1>
     <img src="./assets/Images/homeBanner2.JPG" alt="profile picture">
 </div>
 <div class="pageFill" id="secondTile">
     <h1>Kandidaat RvB</h1>
     <h1>Jong VLD Nationaal</h1>
     <article>
        De afgelopen twee jaren waren een rollercoaster van internationale ontwikkelingen. De uitdagingen zijn vandaag groter dan ooit. Het oprukkende populisme kan alleen gestopt worden met een liberaal verhaal: het verhaal waar wij met Jong VLD de afgelopen jaren aan gebouwd hebben. 
     </article>
     <article>
        We deden dat met ons grootste ideologisch congres in jaren, een LYMEC Congres dat we organiseerden in Brussel en door opnieuw aan te sluiten bij IFLRY. 
     </article>
     <article>
        Jong VLD Internationaal staat sterker dan ooit. Vol goesting wil ik daarop verder bouwen. Daarom stel ik mij kandidaat voor de Raad van Bestuur in de Nationale kieskring.
     </article>
     <a href="./assets/Files/Mijn-plan-voor-Internationaal.pdf" id="mijnPlan">Mijn Plan</a>
 </div>
 <div class="halfPageFill" id="internationalOfficer">
    <h1>#internationalofficer</h1>
</div>
 <div class="halfPageFill fourthTileAbout" >
    <div class="contactInfo" >
        <h1>Contacteer me</h1>
        <div>
            <a href="https://www.facebook.com/usewils/" class="contactDetail facebook" target="_blank"></a>
            <a href="https://twitter.com/usewils" class="contactDetail twitter" target="_blank"></a>
            <a href="https://www.linkedin.com/in/brent-usewils-a53440108/" class="contactDetail linkedIn" target="_blank"></a>
            <a href="mailto:brent.usewils@hotmail.com" class="contactDetail email" target="_blank"></a>
            <a href="https://www.facebook.com/jongvldheisthulshout/" class="contactDetail jongVldHulshout" target="_blank"></a>
            <a href="https://www.jongvld.be/" class="contactDetail jongVld" target="_blank"></a>
        </div>
        <div>
            <a href="http://www.vldhulshout.be/" class="openVld" target="_blank"></a>
        </div>
    </div>
</div>